.error-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.icon-class {
  color: red;
  margin-top: 5px;
}

.icon-success {
  color:#009933;
  margin-top: 5px;
}

