.logo {
    width: 35%;
}

.title {
    margin-bottom: 30px;
}

.title p {
    margin-top: 0 !important;
}

.footer-wrapper{
  background-color: #f4f5f8;
  color: #555555;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
