.ok {
    background-color: #2dd36f;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    margin: 0;
  }
  
  .rep {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    margin: 0;
  }